body {
  background-color: black;
  font-family: 'Saira Semi Condensed', sans-serif;
  color: white; 
}

h1 {
  text-align: center;
  font-size: 2.827em;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  font-size: 1.999em;
  margin-top: 10px;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  border-collapse: collapse;
}

tr {
  width:100%;
  padding: 0px 0px 10px 0px; 
}

img {
  margin: auto;
  padding: 0px;
  vertical-align: middle;
  display: block;
}

#dataFields {
  padding: 0px 0px 5px 0px;
  border-bottom: none;
  text-align: center;
}

#earth {
  padding: 0px 0px 5px 0px;
  border-bottom: none;
  text-align: center;
}

#jupiter {
  padding: 0px 0px 5px 0px;
  border-bottom: none;
  text-align: center;
}

#saturn {
  padding: 0px 0px 5px 0px;
  border-bottom: none;
  text-align: center;
}

#neptune {
  padding: 0px 0px 5px 0px;
  border-bottom: none;
  text-align: center;
}

th{
  width:100%;
  text-align: left;
  padding: 0px 0px 5px 0px;
  border-bottom: 2px solid white;
  font-size: 1.414em;
}

td{
  width:100%;
  text-align: left;
  padding: 0px 0px 5px 0px;
  font-size: 1em;
}

/*CSS for animated image*/

.circle {
  margin: 0px;
  padding: 0px;
  display: block;
  float: left;
  background: white;
  border-radius: 50%;
  height: 10.9px;
  width: 10.9px;
  position: relative;
  animation: orbit 10s infinite;
}

.circle2 {
  margin: 0px;
  padding: 0px;
  display: block;
  float: left;
  background: white;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  position: relative;
  animation: orbit2 119s infinite;
}

.circle3 {
  margin: 0px;
  padding: 0px;
  display: block;
  float: left;
  background: white;
  border-radius: 50%;
  height: 103.6px;
  width: 103.6px;
  position: relative;
  animation: orbit3 295s infinite;
}

.circle4 {
  margin: 0px;
  padding: 0px;
  display: block;
  float: left;
  background: white;
  border-radius: 50%;
  height: 42.5px;
  width: 42.5px;
  position: relative;
  animation: orbit4 1650s infinite;
}

@keyframes orbit {
  0%  {
    transform: translate3d(0px, -600px, 0px);
    background: radial-gradient(circle at 75px 75px, green, blue);
  }
  25% {
    transform: translate3d(0px, -5px, 0px);
    background: radial-gradient(circle at 75px 75px, green, blue);
  }
  50% {
    transform: translate3d(1300px, -5px, 0px);
    background: radial-gradient(circle at 75px 75px, green, blue);
  }
  75% {
    transform: translate3d(1300px, -600px, 0px);
    background: radial-gradient(circle at 75px 75px, green, blue);
  }
  100% {
    transform: translate3d(0px, -600px, 0px);
    background: radial-gradient(circle at 75px 75px, green, blue);
  }
}

@keyframes orbit2 {
  0%  {
    transform: translate3d(0px, -620px, 0px);
    background: radial-gradient(circle at 75px 75px, brown, orange);
  }
  25% {
    transform: translate3d(0px, -5px, 0px);
    background: radial-gradient(circle at 75px 75px, brown, orange);
  }
  50% {
    transform: translate3d(1300px, -5px, 0px);
    background: radial-gradient(circle at 75px 75px, brown, orange);
  }
  75% {
    transform: translate3d(1300px, -620px, 0px);
    background: radial-gradient(circle at 75px 75px, brown, orange);
  }
  100% {
    transform: translate3d(0px, -620px, 0px);
    background: radial-gradient(circle at 75px 75px, brown, orange);
  }
}

@keyframes orbit3 {
  0%  {
    transform: translate3d(0px, -620px, 0px);
    background: radial-gradient(circle at 75px 75px, white, yellow);
  }
  25% {
    transform: translate3d(0px, -5px, 0px);
    background: radial-gradient(circle at 75px 75px, white, yellow);
  }
  50% {
    transform: translate3d(1300px, -5px, 0px);
    background: radial-gradient(circle at 75px 75px, white, yellow);
  }
  75% {
    transform: translate3d(1300px, -620px, 0px);
    background: radial-gradient(circle at 75px 75px, white, yellow);
  }
  100% {
    transform: translate3d(0px, -620px, 0px);
    background: radial-gradient(circle at 75px 75px, white, yellow);
  }
}

@keyframes orbit4 {
  0%  {
    transform: translate3d(0px, -620px, 0px);
    background: radial-gradient(circle at 75px 75px, white, blue);
  }
  25% {
    transform: translate3d(0px, -5px, 0px);
    background: radial-gradient(circle at 75px 75px, white, blue);
  }
  50% {
    transform: translate3d(1300px, -5px, 0px);
    background: radial-gradient(circle at 75px 75px, white, blue);
  }
  75% {
    transform: translate3d(1300px, -620px, 0px);
    background: radial-gradient(circle at 75px 75px, white, blue);
  }
  100% {
    transform: translate3d(0px, -620px, 0px);
    background: radial-gradient(circle at 75px 75px, white, blue);
  }
}
