body {
  background-color: black;
  font-family: 'Saira Semi Condensed', sans-serif;
  color: white; 
}

h1, h2 {
  text-align: center;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

tr {
  width:100%;
  padding: 0px 0px 10px 0px;
}

th{
  width:100%;
  text-align: left;
  padding: 0px 0px 5px 0px;
}

td{
  width:100%;
  text-align: left;
  padding: 0px 0px 5px 0px;
}

/*CSS for animated background*/

.circle {
  display: block;
  background: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  margin: 50px 50px 50px 50px;
  animation: comet 10s infinite;
}

@keyframes comet {
  0%  {background: radial-gradient(circle at 75px 75px, red, orange); left: 0px; top: 0px;}
  20% {background: radial-gradient(circle at 75px 75px, orange, yellow); left: 0px; top: 0px;}
  40% {background: radial-gradient(circle at 75px 75px, yellow, green); left: 0px; top: 600px;}
  60% {background: radial-gradient(circle at 75px 75px, green, blue); left: 1200px; top: 600px;}
  80% {background: radial-gradient(circle at 75px 75px, blue, purple); left: 1200px; top: 0px;}
  100% {background: radial-gradient(circle at 75px 75px, purple, gold); left: 0px; top: 0px;}
}
